NOTION_API_KEY=
NOTION_CANDIDATE_API_KEY=
NOTION_HOT_TOPICS_API_KEY=
NOTION_SOURCE_DB_ID=
NOTION_CANDIDATE_DB_ID=
NOTION_HOT_TOPICS_DB_ID=
NOTION_ALERT_USER_ID=

REDIS_URL=

QDRANT_URL=
QDRANT_API_KEY=

OPENAI_API_KEY=
OPENAI_API_KEY_FALLBACK=

GETTR_USER_ID=
GETTR_USER_TOKEN=
